<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DATA_LAYER.Properties.Settings.QUAN_LY_VAN_BANConnectionString"
            connectionString="Data Source=DESKTOP-96CRGKS\SQLEXPRESS;Initial Catalog=QUAN_LY_VAN_BAN;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>