
USE [QUAN_LY_VAN_BAN]
GO
/****** Object:  StoredProcedure [dbo].[GETMENUFUNCTION]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[GETMENUFUNCTION]
@ID_NHAN_VIEN numeric(18,0),
@ID_CONG_TY int,
@PHAN_HE as nvarchar(50)

as
declare @_USERNAME as int
set @_USERNAME = (select Count(ID_NHAN_VIEN) from GROUPMENUFUNC where dbo.GROUPMENUFUNC.ID_NHAN_VIEN = @ID_NHAN_VIEN AND dbo.GROUPMENUFUNC.ID_CONG_TY = @ID_CONG_TY)
if(@_USERNAME <= 0)
				SELECT     SORTPARENT,MENUFORM.MENUFORMID, MENUFORM.MENUFORMNAME, cast(1 as bit) as NOACCESS, cast(NULL as bit) as VIEWINFO, 
									  cast(NULL as bit) as EDITINFO, cast(NULL as bit) as CREATEINFO, cast(NULL as bit) as FULLCONTROL, -1 as ID_NHAN_VIEN,'' as MENUFORMPARENTNAME,dbo.MENUFORM.MENUFORMPARENTID
				FROM         dbo.MENUFORM WHERE     dbo.MENUFORM.MENUFORMPARENTID IS NOT NULL AND MENUFORM.MENUFORMURL not in ('frm_MENUFORM') AND (MENUFORM.PHAN_HE = @PHAN_HE OR MENUFORM.PHAN_HE IS NULL OR MENUFORM.PHAN_HE = '')
else
				SELECT     SORTPARENT,dbo.MENUFORM.MENUFORMID, dbo.MENUFORM.MENUFORMNAME, dbo.GROUPMENUFUNC.NOACCESS, dbo.GROUPMENUFUNC.VIEWINFO, 
									  dbo.GROUPMENUFUNC.EDITINFO, dbo.GROUPMENUFUNC.CREATEINFO, dbo.GROUPMENUFUNC.FULLCONTROL, dbo.GROUPMENUFUNC.ID_NHAN_VIEN,'' as MENUFORMPARENTNAME,dbo.MENUFORM.MENUFORMPARENTID
				FROM         dbo.MENUFORM INNER JOIN
									  dbo.GROUPMENUFUNC ON dbo.MENUFORM.MENUFORMID = dbo.GROUPMENUFUNC.MENUFORMID
				WHERE     dbo.MENUFORM.MENUFORMPARENTID IS NOT NULL AND (dbo.GROUPMENUFUNC.ID_NHAN_VIEN = @ID_NHAN_VIEN) AND  MENUFORM.MENUFORMURL not in ('frm_MENUFORM') AND dbo.GROUPMENUFUNC.ID_CONG_TY = @ID_CONG_TY  AND (MENUFORM.PHAN_HE = @PHAN_HE OR MENUFORM.PHAN_HE IS NULL OR MENUFORM.PHAN_HE = '')
				union 
				SELECT     SORTPARENT,MENUFORM.MENUFORMID, MENUFORM.MENUFORMNAME, cast(1 as bit) as NOACCESS, cast(NULL as bit) as VIEWINFO, 
									  cast(NULL as bit) as EDITINFO, cast(NULL as bit) as CREATEINFO, cast(NULL as bit) as FULLCONTROL, -1 as ID_NHAN_VIEN,'' as MENUFORMPARENTNAME,dbo.MENUFORM.MENUFORMPARENTID
				FROM         dbo.MENUFORM 
				where 
				MENUFORM.MENUFORMID not in (SELECT     dbo.MENUFORM.MENUFORMID
					FROM         dbo.MENUFORM INNER JOIN
									  dbo.GROUPMENUFUNC ON dbo.MENUFORM.MENUFORMID = dbo.GROUPMENUFUNC.MENUFORMID
					WHERE     (dbo.GROUPMENUFUNC.ID_NHAN_VIEN = @ID_NHAN_VIEN) AND (dbo.GROUPMENUFUNC.ID_CONG_TY = @ID_CONG_TY))
				AND dbo.MENUFORM.MENUFORMPARENTID IS NOT NULL  AND MENUFORM.MENUFORMURL not in ('frm_MENUFORM')  AND (MENUFORM.PHAN_HE = @PHAN_HE OR MENUFORM.PHAN_HE IS NULL OR MENUFORM.PHAN_HE = '');
GO
/****** Object:  StoredProcedure [dbo].[sp_GROUPMENUFUNC_INSERT]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Created:08/06/2013
--Author:Huỳnh Ngọc Minh
create PROCEDURE [dbo].[sp_GROUPMENUFUNC_INSERT]
@MENUFORMID AS int,
@ID_NHAN_VIEN AS numeric(18,0),
@NOACCESS AS bit,
@VIEWINFO AS bit,
@EDITINFO AS bit,
@CREATEINFO AS bit,
@FULLCONTROL AS bit,
@ID_CONG_TY as int
 AS 
BEGIN TRANSACTION INSERT_DATA 
 INSERT INTO dbo.[GROUPMENUFUNC](
	MENUFORMID,
	ID_NHAN_VIEN,
	NOACCESS,
	VIEWINFO,
	EDITINFO,
	CREATEINFO,
	FULLCONTROL,ID_CONG_TY)
VALUES(
	@MENUFORMID,
	@ID_NHAN_VIEN,
	@NOACCESS,
	@VIEWINFO,
	@EDITINFO,
	@CREATEINFO,
	@FULLCONTROL,@ID_CONG_TY)
IF (@@ERROR <>0) 
 ROLLBACK TRAN INSERT_DATA 
 ELSE COMMIT TRAN

GO
/****** Object:  StoredProcedure [dbo].[sp_GROUPMENUFUNC_UPDATE]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_GROUPMENUFUNC_UPDATE]
@MENUFORMID AS int,
@ID_NHAN_VIEN AS numeric(18,0),
@NOACCESS AS bit,
@VIEWINFO AS bit,
@EDITINFO AS bit,
@CREATEINFO AS bit,
@FULLCONTROL AS bit,
@ID_CONG_TY as int
 AS 
BEGIN TRANSACTION UPDATE_DATA 
 UPDATE dbo.[GROUPMENUFUNC] SET 
	NOACCESS= @NOACCESS,
	VIEWINFO= @VIEWINFO,
	EDITINFO= @EDITINFO,
	CREATEINFO= @CREATEINFO,
	FULLCONTROL= @FULLCONTROL
 WHERE 	(@MENUFORMID=dbo.[GROUPMENUFUNC].MENUFORMID)
 and 
	(@ID_NHAN_VIEN=dbo.[GROUPMENUFUNC].ID_NHAN_VIEN) AND @ID_CONG_TY = dbo.[GROUPMENUFUNC].ID_CONG_TY
IF (@@ERROR <>0) 
 ROLLBACK TRAN UPDATE_DATA 
 ELSE COMMIT TRAN

GO
/****** Object:  StoredProcedure [dbo].[sp_LOADFUNCTIONSFORADMIN]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_LOADFUNCTIONSFORADMIN]
@PHAN_HE as nvarchar(50)
as
SELECT     dbo.MENUFORM.MENUFORMID, dbo.MENUFORM.MENUFORMNAME, dbo.MENUFORM.MENUFORMURL, dbo.MENUFORM.SORTPARENT, dbo.MENUFORM.SORT, 
                      dbo.MENUFORM.MENUFORMPARENTID, dbo.MENUFORM.LIST, dbo.MENUFORM.VISIBLE, dbo.MENUFORM.ICONSMALL, dbo.MENUFORM.ICONLARGE, 
                      dbo.MENUFORM.ICONSMALLHOR, '-1' as ID_NHAN_VIEN, cast(NULL as bit) as NOACCESS, cast(NULL as bit) as VIEWINFO, 
                      cast(NULL as bit) as EDITINFO, cast(NULL as bit) as CREATEINFO, cast(1 as bit) as FULLCONTROL
FROM         dbo.MENUFORM where [MENUFORMPARENTID] is not NULL   AND (MENUFORM.PHAN_HE = @PHAN_HE OR MENUFORM.PHAN_HE IS NULL OR MENUFORM.PHAN_HE = '')
order by dbo.MENUFORM.SORTPARENT,dbo.MENUFORM.SORT asc




GO
/****** Object:  StoredProcedure [dbo].[sp_LOADFUNCTIONSFORADMIN_USER]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_LOADFUNCTIONSFORADMIN_USER]-- Load quyền admin cho người dùng để phân quyền và tạo nhân viên cho các công ty khác nhau.
@PHAN_HE as nvarchar(50)
as
SELECT     dbo.MENUFORM.MENUFORMID, dbo.MENUFORM.MENUFORMNAME, dbo.MENUFORM.MENUFORMURL, dbo.MENUFORM.SORTPARENT, dbo.MENUFORM.SORT, 
                      dbo.MENUFORM.MENUFORMPARENTID, dbo.MENUFORM.LIST, dbo.MENUFORM.VISIBLE, dbo.MENUFORM.ICONSMALL, dbo.MENUFORM.ICONLARGE, 
                      dbo.MENUFORM.ICONSMALLHOR, '0' as ID_NHAN_VIEN, cast(NULL as bit) as NOACCESS, cast(NULL as bit) as VIEWINFO, 
                      cast(NULL as bit) as EDITINFO, cast(NULL as bit) as CREATEINFO, cast(1 as bit) as FULLCONTROL
FROM         dbo.MENUFORM where [MENUFORMPARENTID] is not NULL AND dbo.MENUFORM.MENUFORMID <> 10 AND (MENUFORM.PHAN_HE = @PHAN_HE OR MENUFORM.PHAN_HE IS NULL OR MENUFORM.PHAN_HE = '')
order by dbo.MENUFORM.SORTPARENT,dbo.MENUFORM.SORT asc




GO
/****** Object:  StoredProcedure [dbo].[sp_LOADFUNCTIONSFORUSER]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_LOADFUNCTIONSFORUSER]
@ID_NHAN_VIEN as numeric(18,0),
@ID_CONG_TY as int,
@PHAN_HE as nvarchar(50)
as
SELECT     dbo.MENUFORM.MENUFORMID, dbo.MENUFORM.MENUFORMNAME, dbo.MENUFORM.MENUFORMURL, dbo.MENUFORM.SORTPARENT, dbo.MENUFORM.SORT, 
                      dbo.MENUFORM.MENUFORMPARENTID, dbo.MENUFORM.LIST, dbo.MENUFORM.VISIBLE, dbo.MENUFORM.ICONSMALL, dbo.MENUFORM.ICONLARGE, dbo.MENUFORM.ICONSMALLHOR, 
                      dbo.GROUPMENUFUNC.ID_NHAN_VIEN, dbo.GROUPMENUFUNC.NOACCESS, dbo.GROUPMENUFUNC.VIEWINFO, dbo.GROUPMENUFUNC.EDITINFO, dbo.GROUPMENUFUNC.CREATEINFO, 
                      dbo.GROUPMENUFUNC.FULLCONTROL, dbo.GROUPMENUFUNC.ID_CONG_TY
FROM         dbo.MENUFORM LEFT OUTER JOIN
                      dbo.GROUPMENUFUNC ON dbo.MENUFORM.MENUFORMID = dbo.GROUPMENUFUNC.MENUFORMID
where  dbo.GROUPMENUFUNC.ID_NHAN_VIEN = @ID_NHAN_VIEN AND dbo.GROUPMENUFUNC.NOACCESS IS NULL AND (MENUFORM.PHAN_HE = @PHAN_HE OR MENUFORM.PHAN_HE IS NULL OR MENUFORM.PHAN_HE = '') order by dbo.MENUFORM.SORTPARENT,dbo.MENUFORM.SORT asc
GO
/****** Object:  StoredProcedure [dbo].[sp_LOGIN]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LOGIN]
@MA_NHAN_VIEN as nvarchar(50),
@MAT_KHAU as nvarchar(1000),
@ID_CONG_TY as int

as
SELECT     dbo.SALE_NHAN_VIEN.MA_NHAN_VIEN,dbo.SALE_NHAN_VIEN.HO_TEN,dbo.SALE_NHAN_VIEN.IS_ADMIN,dbo.SALE_NHAN_VIEN.ID_NHAN_VIEN,dbo.SALE_NHAN_VIEN.MAT_KHAU,dbo.SALE_NHAN_VIEN.ID_CONG_TY 
FROM         dbo.SALE_NHAN_VIEN
WHERE	   dbo.SALE_NHAN_VIEN.MA_NHAN_VIEN = @MA_NHAN_VIEN AND dbo.SALE_NHAN_VIEN.MAT_KHAU = @MAT_KHAU AND dbo.SALE_NHAN_VIEN.ID_CONG_TY = @ID_CONG_TY
GO
/****** Object:  StoredProcedure [dbo].[sp_MENUFORM_GETISNULL]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_MENUFORM_GETISNULL]
as
SELECT [MENUFORMID]
      ,[MENUFORMNAME]
      ,[MENUFORMURL]
      ,[SORTPARENT]
      ,[SORT]
      ,[MENUFORMPARENTID]
      ,[LIST]
      ,[VISIBLE]
      ,[ICONSMALL]
      ,[ICONLARGE]
      ,[ICONSMALLHOR]
  FROM [dbo].[MENUFORM] where [MENUFORMPARENTID] is NULL
  order by SORTPARENT asc




GO
/****** Object:  StoredProcedure [dbo].[sp_THONG_TIN_CONG_TY_INSERT]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--Created:08/04/2010
--Author:Huynh Ngoc Minh
CREATE PROCEDURE [dbo].[sp_THONG_TIN_CONG_TY_INSERT]
@TEN_CONG_TY AS nvarchar(MAX),
@DIA_CHI AS nvarchar(MAX),
@DIEN_THOAI AS nvarchar(50),
@FAX AS nvarchar(50),
@WEBSITE AS nvarchar(50),
@EMAIL AS nvarchar(MAX),
@MA_SO_THUE AS nvarchar(50),
@LO_GO AS image,
@LINH_VUC AS  nvarchar(200),
@MO_TA AS nvarchar(MAX),
@TRANG_THAI_KICH_HOAT AS bit,
@ICON AS image
 AS 
BEGIN TRANSACTION INSERT_DATA 
 INSERT INTO dbo.[THONG_TIN_CONG_TY](
	TEN_CONG_TY,
	DIA_CHI,
	DIEN_THOAI,
	FAX,
	WEBSITE,
	EMAIL,
	MA_SO_THUE,
	LO_GO,
	LINH_VUC,
	MO_TA,
	TRANG_THAI_KICH_HOAT,
	ICON)
VALUES(
	@TEN_CONG_TY,
	@DIA_CHI,
	@DIEN_THOAI,
	@FAX,
	@WEBSITE,
	@EMAIL,
	@MA_SO_THUE,
	@LO_GO,
	@LINH_VUC,
	@MO_TA,
	@TRANG_THAI_KICH_HOAT,
	@ICON)
IF (@@ERROR <>0) 
 ROLLBACK TRAN INSERT_DATA 
 ELSE COMMIT TRAN



GO
/****** Object:  StoredProcedure [dbo].[sp_THONG_TIN_CONG_TY_UPDATE]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--Created:08/04/2010
--Author:Huynh Ngoc Minh
create PROCEDURE [dbo].[sp_THONG_TIN_CONG_TY_UPDATE]
@ID_CONG_TY AS int,
@TEN_CONG_TY AS nvarchar(MAX),
@DIA_CHI AS nvarchar(MAX),
@DIEN_THOAI AS nvarchar(50),
@FAX AS nvarchar(50),
@WEBSITE AS nvarchar(50),
@EMAIL AS nvarchar(MAX),
@MA_SO_THUE AS nvarchar(50),
@LO_GO AS image,
@LINH_VUC AS nvarchar(200),
@MO_TA AS nvarchar(MAX),
@TRANG_THAI_KICH_HOAT AS bit,
@ICON AS image
 AS 
BEGIN TRANSACTION UPDATE_DATA 
 UPDATE dbo.[THONG_TIN_CONG_TY] SET 
	TEN_CONG_TY= @TEN_CONG_TY,
	DIA_CHI= @DIA_CHI,
	DIEN_THOAI= @DIEN_THOAI,
	FAX= @FAX,
	WEBSITE= @WEBSITE,
	EMAIL= @EMAIL,
	MA_SO_THUE= @MA_SO_THUE,
	LO_GO= @LO_GO,
	LINH_VUC= @LINH_VUC,
	MO_TA= @MO_TA,
	TRANG_THAI_KICH_HOAT= @TRANG_THAI_KICH_HOAT,
	ICON= @ICON
 WHERE 	(@ID_CONG_TY=dbo.[THONG_TIN_CONG_TY].ID_CONG_TY)

IF (@@ERROR <>0) 
 ROLLBACK TRAN UPDATE_DATA 
 ELSE COMMIT TRAN


GO
/****** Object:  UserDefinedFunction [dbo].[F_START_OF_WEEK]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create function [dbo].[F_START_OF_WEEK]
(
 @DATE   datetime,
 -- Sun = 1, Mon = 2, Tue = 3, Wed = 4
 -- Thu = 5, Fri = 6, Sat = 7
 -- Default to Sunday
 @WEEK_START_DAY  int = 1 
)
/*
Find the fisrt date on or before @DATE that matches 
day of week of @WEEK_START_DAY.
*/
returns  datetime
as
begin
declare  @START_OF_WEEK_DATE datetime
declare  @FIRST_BOW  datetime

-- Check for valid day of week
if @WEEK_START_DAY between 1 and 7
 begin
 -- Find first day on or after 1753/1/1 (-53690)
 -- matching day of week of @WEEK_START_DAY
 -- 1753/1/1 is earliest possible SQL Server date.
 select @FIRST_BOW = convert(datetime,-53690+((@WEEK_START_DAY+5)%7))
 -- Verify beginning of week not before 1753/1/1
 if @DATE >= @FIRST_BOW
  begin
  select @START_OF_WEEK_DATE = 
  dateadd(dd,(datediff(dd,@FIRST_BOW,@DATE)/7)*7,@FIRST_BOW)
  end
 end
return @START_OF_WEEK_DATE
end

GO
/****** Object:  Table [dbo].[FILE_NAME]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILE_NAME](
	[ID_FILE] [numeric](18, 0) NOT NULL,
	[TEN_TAI_LIEU] [nvarchar](500) NULL,
	[ID_VAN_BAN_DEN] [numeric](18, 0) NULL,
	[ID_VAN_BAN_DI] [numeric](18, 0) NULL,
	[MO_RONG_FILE] [nvarchar](50) NULL,
	[TEN_FILE] [nvarchar](500) NULL,
	[ID_VAN_BAN_NOI_BO] [numeric](18, 0) NULL,
 CONSTRAINT [PK_FILE_NAME] PRIMARY KEY CLUSTERED 
(
	[ID_FILE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GROUPMENUFUNC]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUPMENUFUNC](
	[MENUFORMID] [int] NOT NULL,
	[ID_NHAN_VIEN] [numeric](18, 0) NOT NULL,
	[ACCESS] [bit] NULL,
 CONSTRAINT [PK_GROUPMENUFUNC] PRIMARY KEY CLUSTERED 
(
	[MENUFORMID] ASC,
	[ID_NHAN_VIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAI_VAN_BAN]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_VAN_BAN](
	[ID_LOAI_VAN_BAN] [numeric](18, 0) NOT NULL,
	[MA_LOAI_VAN_BAN] [nvarchar](50) NULL,
	[TEN_LOAI_VAN_BAN] [nvarchar](200) NULL,
	[MO_TA] [nvarchar](500) NULL,
 CONSTRAINT [PK_LOAI_VAN_BAN] PRIMARY KEY CLUSTERED 
(
	[ID_LOAI_VAN_BAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MENUFORM]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENUFORM](
	[MENUFORMID] [int] NOT NULL,
	[MENUFORMNAME] [nvarchar](300) NULL,
	[MENUFORTAG] [nvarchar](300) NULL,
 CONSTRAINT [PK_MENUFORM] PRIMARY KEY CLUSTERED 
(
	[MENUFORMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NOI_BAN_HANH]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOI_BAN_HANH](
	[ID_NOI_BAN_HANH] [numeric](18, 0) NOT NULL,
	[NOI_BAN_HANH] [nvarchar](200) NULL,
	[MO_TA] [nvarchar](500) NULL,
 CONSTRAINT [PK_NOI_BAN_HANH] PRIMARY KEY CLUSTERED 
(
	[ID_NOI_BAN_HANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG_BAN]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG_BAN](
	[ID_PHONG_BAN] [numeric](18, 0) NOT NULL,
	[TEN_PHONG_BAN] [nvarchar](300) NULL,
 CONSTRAINT [PK_PHONG_BAN] PRIMARY KEY CLUSTERED 
(
	[ID_PHONG_BAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SALE_NHAN_VIEN]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALE_NHAN_VIEN](
	[ID_NHAN_VIEN] [numeric](18, 0) NOT NULL,
	[MA_NHAN_VIEN] [nvarchar](50) NULL,
	[HO_TEN] [nvarchar](500) NULL,
	[NGHI_VIEC] [bit] NULL,
	[MAT_KHAU] [nvarchar](1000) NULL,
	[IS_ADMIN] [bit] NULL,
	[ID_CONG_TY] [int] NULL,
 CONSTRAINT [PK_SALE_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[ID_NHAN_VIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SO_VAN_BAN]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_VAN_BAN](
	[ID_SO_VAN_BAN] [numeric](18, 0) NOT NULL,
	[TEN_SO_VAN_BAN] [nvarchar](500) NULL,
	[LOAI_SO_DI_DEN] [bit] NULL,
	[NAM] [int] NULL,
 CONSTRAINT [PK_SO_VAN_BAN] PRIMARY KEY CLUSTERED 
(
	[ID_SO_VAN_BAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THIET_LAP_THONG_TIN]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIET_LAP_THONG_TIN](
	[ID_THIET_LAP_THONG_TIN] [numeric](18, 0) NOT NULL,
	[NGUOI_KY_VAN_BAN] [nvarchar](300) NULL,
	[NGUOI_GUI_VAN_BAN] [nvarchar](300) NULL,
	[NGUOI_DUYET_VAN_BAN] [nvarchar](300) NULL,
	[NGUOI_NHAN_VAN_BAN] [nvarchar](300) NULL,
	[ID_NOI_BAN_HANH] [numeric](18, 0) NULL,
 CONSTRAINT [PK_THIET_LAP_THONG_TIN] PRIMARY KEY CLUSTERED 
(
	[ID_THIET_LAP_THONG_TIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THONG_TIN_CONG_TY]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONG_TIN_CONG_TY](
	[ID_CONG_TY] [int] IDENTITY(1,1) NOT NULL,
	[TEN_CONG_TY] [nvarchar](max) NULL,
	[DIA_CHI] [nvarchar](max) NULL,
	[DIEN_THOAI] [nvarchar](50) NULL,
	[FAX] [nvarchar](50) NULL,
	[WEBSITE] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[MA_SO_THUE] [nvarchar](50) NULL,
	[LO_GO] [image] NULL,
	[LINH_VUC] [nvarchar](250) NULL,
	[MO_TA] [nvarchar](max) NULL,
	[TRANG_THAI_KICH_HOAT] [bit] NULL,
	[ICON] [image] NULL,
 CONSTRAINT [PK_THONG_TIN_CONG_TY] PRIMARY KEY CLUSTERED 
(
	[ID_CONG_TY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VAN_BAN_DEN]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAN_BAN_DEN](
	[ID_VAN_BAN_DEN] [numeric](18, 0) NOT NULL,
	[ID_SO_VAN_BAN] [numeric](18, 0) NULL,
	[ID_LOAI_VAN_BAN] [numeric](18, 0) NULL,
	[SO_KY_HIEU] [nvarchar](50) NULL,
	[SO_DEN] [numeric](18, 0) NULL,
	[NGAY_BAN_HANH] [datetime] NULL,
	[NGAY_DEN] [datetime] NULL,
	[ID_DON_VI_DEN] [numeric](18, 0) NULL,
	[TRICH_YEU] [nvarchar](2000) NULL,
	[GHI_CHU] [nvarchar](3500) NULL,
	[NGUOI_NHAN_VAN_BAN] [nvarchar](300) NULL,
	[NGUOI_KY_VAN_BAN] [nvarchar](300) NULL,
	[NGUOI_DUYET_VAN_BAN] [nvarchar](300) NULL,
	[SO_TRANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_VAN_BAN_DEN_1] PRIMARY KEY CLUSTERED 
(
	[ID_VAN_BAN_DEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VAN_BAN_DI]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAN_BAN_DI](
	[ID_VAN_BAN] [numeric](18, 0) NOT NULL,
	[ID_SO_VAN_BAN] [numeric](18, 0) NULL,
	[ID_LOAI_VAN_BAN] [numeric](18, 0) NULL,
	[SO_KY_HIEU] [nvarchar](50) NULL,
	[SO_DI] [numeric](18, 0) NULL,
	[NGAY_BAN_HANH] [datetime] NULL,
	[TRICH_YEU] [nvarchar](2000) NULL,
	[NOI_NHAN] [nvarchar](500) NULL,
	[GHI_CHU] [nvarchar](3500) NULL,
	[NGUOI_GUI_VAN_BAN] [nvarchar](300) NULL,
	[NGUOI_KY_VAN_BAN] [nvarchar](300) NULL,
	[NGUOI_DUYET_VAN_BAN] [nvarchar](300) NULL,
	[SO_TRANG] [nvarchar](50) NULL,
	[SO_LUONG_BAN] [int] NULL,
 CONSTRAINT [PK_VAN_BAN_DI] PRIMARY KEY CLUSTERED 
(
	[ID_VAN_BAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VAN_BAN_NOI_BO]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAN_BAN_NOI_BO](
	[ID_VAN_BAN_NOI_BO] [numeric](18, 0) NOT NULL,
	[SO_KY_HIEU] [nvarchar](50) NULL,
	[TEN_VAN_BAN] [nvarchar](200) NULL,
	[ID_LOAI_VAN_BAN] [numeric](18, 0) NULL,
	[NGAY_BAN_HANH] [datetime] NULL,
	[GHI_CHU] [nvarchar](3500) NULL,
	[TRICH_YEU] [nvarchar](2000) NULL,
	[NGUOI_NHAN_VAN_BAN] [nvarchar](300) NULL,
	[NGUOI_KY_VAN_BAN] [nvarchar](300) NULL,
	[NGUOI_DUYET_VAN_BAN] [nvarchar](300) NULL,
	[ID_PHONG_BAN_NHAN] [numeric](18, 0) NULL,
	[ID_PHONG_BAN_BAN_HANH] [numeric](18, 0) NULL,
 CONSTRAINT [PK_VAN_BAN_NOI_BO] PRIMARY KEY CLUSTERED 
(
	[ID_VAN_BAN_NOI_BO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[View_LOADLISTADMIN_FORMADMINISTRATOR]    Script Date: 12/10/19 9:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_LOADLISTADMIN_FORMADMINISTRATOR]
AS
SELECT     HO_TEN, MA_NHAN_VIEN, ID_NHAN_VIEN, ISNULL
                          ((SELECT     COUNT(*) AS Expr1
                              FROM         dbo.GROUPMENUFUNC
                              WHERE     (ID_NHAN_VIEN = dbo.SALE_NHAN_VIEN.ID_NHAN_VIEN)), 0) AS COUNT_ID, IS_ADMIN, ID_CONG_TY
FROM         dbo.SALE_NHAN_VIEN
WHERE     (NGHI_VIEC = 0) OR
                      (NGHI_VIEC IS NULL)

GO
INSERT [dbo].[GROUPMENUFUNC] ([MENUFORMID], [ID_NHAN_VIEN], [ACCESS]) VALUES (1, CAST(1 AS Numeric(18, 0)), 0)
INSERT [dbo].[GROUPMENUFUNC] ([MENUFORMID], [ID_NHAN_VIEN], [ACCESS]) VALUES (1, CAST(2 AS Numeric(18, 0)), 0)
INSERT [dbo].[GROUPMENUFUNC] ([MENUFORMID], [ID_NHAN_VIEN], [ACCESS]) VALUES (1, CAST(3 AS Numeric(18, 0)), 0)
INSERT [dbo].[LOAI_VAN_BAN] ([ID_LOAI_VAN_BAN], [MA_LOAI_VAN_BAN], [TEN_LOAI_VAN_BAN], [MO_TA]) VALUES (CAST(1 AS Numeric(18, 0)), N'CV', N'Công văn', NULL)
INSERT [dbo].[LOAI_VAN_BAN] ([ID_LOAI_VAN_BAN], [MA_LOAI_VAN_BAN], [TEN_LOAI_VAN_BAN], [MO_TA]) VALUES (CAST(2 AS Numeric(18, 0)), N'QĐVP', N'Quyết định quy phạm', N'')
INSERT [dbo].[LOAI_VAN_BAN] ([ID_LOAI_VAN_BAN], [MA_LOAI_VAN_BAN], [TEN_LOAI_VAN_BAN], [MO_TA]) VALUES (CAST(3 AS Numeric(18, 0)), N'CT', N'Chỉ thị', N'')
INSERT [dbo].[MENUFORM] ([MENUFORMID], [MENUFORMNAME], [MENUFORTAG]) VALUES (1, N'Phân Quyền Nhân Viên', N'btn_phanquyen')
INSERT [dbo].[MENUFORM] ([MENUFORMID], [MENUFORMNAME], [MENUFORTAG]) VALUES (2, N'Thông Tin Công Ty', N'btn_ttcongty')
INSERT [dbo].[MENUFORM] ([MENUFORMID], [MENUFORMNAME], [MENUFORTAG]) VALUES (3, N'Cập nhật người dùng', N'btn_nguoidung')
INSERT [dbo].[NOI_BAN_HANH] ([ID_NOI_BAN_HANH], [NOI_BAN_HANH], [MO_TA]) VALUES (CAST(1 AS Numeric(18, 0)), N'Văn phòng Chính Phủ', N'')
INSERT [dbo].[NOI_BAN_HANH] ([ID_NOI_BAN_HANH], [NOI_BAN_HANH], [MO_TA]) VALUES (CAST(2 AS Numeric(18, 0)), N'Văn phòng Quốc Hội', N'')
INSERT [dbo].[NOI_BAN_HANH] ([ID_NOI_BAN_HANH], [NOI_BAN_HANH], [MO_TA]) VALUES (CAST(3 AS Numeric(18, 0)), N'Tổng cục Thuế', N'')
GO
INSERT [dbo].[PHONG_BAN] ([ID_PHONG_BAN], [TEN_PHONG_BAN]) VALUES (CAST(1 AS Numeric(18, 0)), N'Văn phòng')
INSERT [dbo].[PHONG_BAN] ([ID_PHONG_BAN], [TEN_PHONG_BAN]) VALUES (CAST(2 AS Numeric(18, 0)), N'Phòng tổ chức')
INSERT [dbo].[PHONG_BAN] ([ID_PHONG_BAN], [TEN_PHONG_BAN]) VALUES (CAST(3 AS Numeric(18, 0)), N'Phòng Hội Đồng Quản Trị')
INSERT [dbo].[SALE_NHAN_VIEN] ([ID_NHAN_VIEN], [MA_NHAN_VIEN], [HO_TEN], [NGHI_VIEC], [MAT_KHAU], [IS_ADMIN], [ID_CONG_TY]) VALUES (CAST(-1 AS Numeric(18, 0)), N'admin', N'administrator', NULL, N'21232F297A57A5A743894A0E4A801FC3', NULL, NULL)
INSERT [dbo].[SALE_NHAN_VIEN] ([ID_NHAN_VIEN], [MA_NHAN_VIEN], [HO_TEN], [NGHI_VIEC], [MAT_KHAU], [IS_ADMIN], [ID_CONG_TY]) VALUES (CAST(1 AS Numeric(18, 0)), N'nguyenvanb', N'Nguyễn văn B', NULL, N'E35CF7B66449DF565F93C607D5A81D09', NULL, 1)
INSERT [dbo].[SALE_NHAN_VIEN] ([ID_NHAN_VIEN], [MA_NHAN_VIEN], [HO_TEN], [NGHI_VIEC], [MAT_KHAU], [IS_ADMIN], [ID_CONG_TY]) VALUES (CAST(2 AS Numeric(18, 0)), N'dainguyen', N'Nguyễn Quốc Đại', NULL, N'B9D9E491D238A7F1FAF272717C52D616', NULL, 1)
INSERT [dbo].[SO_VAN_BAN] ([ID_SO_VAN_BAN], [TEN_SO_VAN_BAN], [LOAI_SO_DI_DEN], [NAM]) VALUES (CAST(1 AS Numeric(18, 0)), N'Văn bản đến', 1, 2016)
INSERT [dbo].[SO_VAN_BAN] ([ID_SO_VAN_BAN], [TEN_SO_VAN_BAN], [LOAI_SO_DI_DEN], [NAM]) VALUES (CAST(2 AS Numeric(18, 0)), N'Văn bản đi', 0, 2016)
INSERT [dbo].[SO_VAN_BAN] ([ID_SO_VAN_BAN], [TEN_SO_VAN_BAN], [LOAI_SO_DI_DEN], [NAM]) VALUES (CAST(3 AS Numeric(18, 0)), N'Văn bản đến', 1, 2017)
INSERT [dbo].[THIET_LAP_THONG_TIN] ([ID_THIET_LAP_THONG_TIN], [NGUOI_KY_VAN_BAN], [NGUOI_GUI_VAN_BAN], [NGUOI_DUYET_VAN_BAN], [NGUOI_NHAN_VAN_BAN], [ID_NOI_BAN_HANH]) VALUES (CAST(1 AS Numeric(18, 0)), N'Nguyễn Văn Trường', N'Huỳnh Thúc Kháng', N'Huỳnh Ngọc Huệ', N'Huỳnh Quang Minh', CAST(1 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[THONG_TIN_CONG_TY] ON 

SET IDENTITY_INSERT [dbo].[THONG_TIN_CONG_TY] OFF
INSERT [dbo].[VAN_BAN_DEN] ([ID_VAN_BAN_DEN], [ID_SO_VAN_BAN], [ID_LOAI_VAN_BAN], [SO_KY_HIEU], [SO_DEN], [NGAY_BAN_HANH], [NGAY_DEN], [ID_DON_VI_DEN], [TRICH_YEU], [GHI_CHU], [NGUOI_NHAN_VAN_BAN], [NGUOI_KY_VAN_BAN], [NGUOI_DUYET_VAN_BAN], [SO_TRANG]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(11 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'2/', CAST(0 AS Numeric(18, 0)), CAST(0x0000AB0700BA3971 AS DateTime), CAST(0x0000AB0700BA3971 AS DateTime), CAST(1 AS Numeric(18, 0)), N'', N'', N'Huỳnh Quang Minh', N'A', N'Huỳnh Ngọc Huệ', N'')
INSERT [dbo].[VAN_BAN_DI] ([ID_VAN_BAN], [ID_SO_VAN_BAN], [ID_LOAI_VAN_BAN], [SO_KY_HIEU], [SO_DI], [NGAY_BAN_HANH], [TRICH_YEU], [NOI_NHAN], [GHI_CHU], [NGUOI_GUI_VAN_BAN], [NGUOI_KY_VAN_BAN], [NGUOI_DUYET_VAN_BAN], [SO_TRANG], [SO_LUONG_BAN]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(32 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), N'3/', CAST(0 AS Numeric(18, 0)), CAST(0x0000AB0400D66BCC AS DateTime), N'', N'', N'', N'Huỳnh Quang Minh', N'A', N'Huỳnh Ngọc Huệ', N'', 0)
INSERT [dbo].[VAN_BAN_NOI_BO] ([ID_VAN_BAN_NOI_BO], [SO_KY_HIEU], [TEN_VAN_BAN], [ID_LOAI_VAN_BAN], [NGAY_BAN_HANH], [GHI_CHU], [TRICH_YEU], [NGUOI_NHAN_VAN_BAN], [NGUOI_KY_VAN_BAN], [NGUOI_DUYET_VAN_BAN], [ID_PHONG_BAN_NHAN], [ID_PHONG_BAN_BAN_HANH]) VALUES (CAST(1 AS Numeric(18, 0)), N'1/', N'', CAST(1 AS Numeric(18, 0)), CAST(0x0000AB07010B2ABD AS DateTime), N'', N'', N'A', N'A', N'Huỳnh Ngọc Huệ', CAST(3 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[VAN_BAN_NOI_BO] ([ID_VAN_BAN_NOI_BO], [SO_KY_HIEU], [TEN_VAN_BAN], [ID_LOAI_VAN_BAN], [NGAY_BAN_HANH], [GHI_CHU], [TRICH_YEU], [NGUOI_NHAN_VAN_BAN], [NGUOI_KY_VAN_BAN], [NGUOI_DUYET_VAN_BAN], [ID_PHONG_BAN_NHAN], [ID_PHONG_BAN_BAN_HANH]) VALUES (CAST(2 AS Numeric(18, 0)), N'2/', N'', CAST(1 AS Numeric(18, 0)), CAST(0x0000AB070110C370 AS DateTime), N'', N'', N'A', N'A', N'Huỳnh Ngọc Huệ', CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)))
ALTER TABLE [dbo].[FILE_NAME]  WITH CHECK ADD  CONSTRAINT [FK_FILE_NAME_VAN_BAN_DEN] FOREIGN KEY([ID_VAN_BAN_DEN])
REFERENCES [dbo].[VAN_BAN_DEN] ([ID_VAN_BAN_DEN])
GO
ALTER TABLE [dbo].[FILE_NAME] CHECK CONSTRAINT [FK_FILE_NAME_VAN_BAN_DEN]
GO
ALTER TABLE [dbo].[FILE_NAME]  WITH CHECK ADD  CONSTRAINT [FK_FILE_NAME_VAN_BAN_DI] FOREIGN KEY([ID_VAN_BAN_DI])
REFERENCES [dbo].[VAN_BAN_DI] ([ID_VAN_BAN])
GO
ALTER TABLE [dbo].[FILE_NAME] CHECK CONSTRAINT [FK_FILE_NAME_VAN_BAN_DI]
GO
ALTER TABLE [dbo].[FILE_NAME]  WITH CHECK ADD  CONSTRAINT [FK_FILE_NAME_VAN_BAN_NOI_BO] FOREIGN KEY([ID_VAN_BAN_NOI_BO])
REFERENCES [dbo].[VAN_BAN_NOI_BO] ([ID_VAN_BAN_NOI_BO])
GO
ALTER TABLE [dbo].[FILE_NAME] CHECK CONSTRAINT [FK_FILE_NAME_VAN_BAN_NOI_BO]
GO
ALTER TABLE [dbo].[GROUPMENUFUNC]  WITH CHECK ADD  CONSTRAINT [FK_GROUPMENUFUNC_MENUFORM] FOREIGN KEY([MENUFORMID])
REFERENCES [dbo].[MENUFORM] ([MENUFORMID])
GO
ALTER TABLE [dbo].[GROUPMENUFUNC] CHECK CONSTRAINT [FK_GROUPMENUFUNC_MENUFORM]
GO
ALTER TABLE [dbo].[GROUPMENUFUNC]  WITH CHECK ADD  CONSTRAINT [FK_GROUPMENUFUNC_SALE_NHAN_VIEN] FOREIGN KEY([ID_NHAN_VIEN])
REFERENCES [dbo].[SALE_NHAN_VIEN] ([ID_NHAN_VIEN])
GO
ALTER TABLE [dbo].[GROUPMENUFUNC] CHECK CONSTRAINT [FK_GROUPMENUFUNC_SALE_NHAN_VIEN]
GO
ALTER TABLE [dbo].[SALE_NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_SALE_NHAN_VIEN_THONG_TIN_CONG_TY] FOREIGN KEY([ID_CONG_TY])
REFERENCES [dbo].[THONG_TIN_CONG_TY] ([ID_CONG_TY])
GO
ALTER TABLE [dbo].[SALE_NHAN_VIEN] CHECK CONSTRAINT [FK_SALE_NHAN_VIEN_THONG_TIN_CONG_TY]
GO
ALTER TABLE [dbo].[THIET_LAP_THONG_TIN]  WITH CHECK ADD  CONSTRAINT [FK_THIET_LAP_THONG_TIN_NOI_BAN_HANH] FOREIGN KEY([ID_NOI_BAN_HANH])
REFERENCES [dbo].[NOI_BAN_HANH] ([ID_NOI_BAN_HANH])
GO
ALTER TABLE [dbo].[THIET_LAP_THONG_TIN] CHECK CONSTRAINT [FK_THIET_LAP_THONG_TIN_NOI_BAN_HANH]
GO
ALTER TABLE [dbo].[VAN_BAN_DEN]  WITH CHECK ADD  CONSTRAINT [FK_VAN_BAN_DEN_LOAI_VAN_BAN] FOREIGN KEY([ID_LOAI_VAN_BAN])
REFERENCES [dbo].[LOAI_VAN_BAN] ([ID_LOAI_VAN_BAN])
GO
ALTER TABLE [dbo].[VAN_BAN_DEN] CHECK CONSTRAINT [FK_VAN_BAN_DEN_LOAI_VAN_BAN]
GO
ALTER TABLE [dbo].[VAN_BAN_DEN]  WITH CHECK ADD  CONSTRAINT [FK_VAN_BAN_DEN_NOI_BAN_HANH] FOREIGN KEY([ID_DON_VI_DEN])
REFERENCES [dbo].[NOI_BAN_HANH] ([ID_NOI_BAN_HANH])
GO
ALTER TABLE [dbo].[VAN_BAN_DEN] CHECK CONSTRAINT [FK_VAN_BAN_DEN_NOI_BAN_HANH]
GO
ALTER TABLE [dbo].[VAN_BAN_DEN]  WITH CHECK ADD  CONSTRAINT [FK_VAN_BAN_DEN_SO_VAN_BAN] FOREIGN KEY([ID_SO_VAN_BAN])
REFERENCES [dbo].[SO_VAN_BAN] ([ID_SO_VAN_BAN])
GO
ALTER TABLE [dbo].[VAN_BAN_DEN] CHECK CONSTRAINT [FK_VAN_BAN_DEN_SO_VAN_BAN]
GO
ALTER TABLE [dbo].[VAN_BAN_DI]  WITH CHECK ADD  CONSTRAINT [FK_VAN_BAN_DI_LOAI_VAN_BAN] FOREIGN KEY([ID_LOAI_VAN_BAN])
REFERENCES [dbo].[LOAI_VAN_BAN] ([ID_LOAI_VAN_BAN])
GO
ALTER TABLE [dbo].[VAN_BAN_DI] CHECK CONSTRAINT [FK_VAN_BAN_DI_LOAI_VAN_BAN]
GO
ALTER TABLE [dbo].[VAN_BAN_DI]  WITH CHECK ADD  CONSTRAINT [FK_VAN_BAN_DI_SO_VAN_BAN] FOREIGN KEY([ID_SO_VAN_BAN])
REFERENCES [dbo].[SO_VAN_BAN] ([ID_SO_VAN_BAN])
GO
ALTER TABLE [dbo].[VAN_BAN_DI] CHECK CONSTRAINT [FK_VAN_BAN_DI_SO_VAN_BAN]
GO
ALTER TABLE [dbo].[VAN_BAN_NOI_BO]  WITH CHECK ADD  CONSTRAINT [FK_VAN_BAN_NOI_BO_PHONG_BAN] FOREIGN KEY([ID_PHONG_BAN_NHAN])
REFERENCES [dbo].[PHONG_BAN] ([ID_PHONG_BAN])
GO
ALTER TABLE [dbo].[VAN_BAN_NOI_BO] CHECK CONSTRAINT [FK_VAN_BAN_NOI_BO_PHONG_BAN]
GO
ALTER TABLE [dbo].[VAN_BAN_NOI_BO]  WITH CHECK ADD  CONSTRAINT [FK_VAN_BAN_NOI_BO_PHONG_BAN1] FOREIGN KEY([ID_PHONG_BAN_BAN_HANH])
REFERENCES [dbo].[PHONG_BAN] ([ID_PHONG_BAN])
GO
ALTER TABLE [dbo].[VAN_BAN_NOI_BO] CHECK CONSTRAINT [FK_VAN_BAN_NOI_BO_PHONG_BAN1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SALE_NHAN_VIEN"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 126
               Right = 209
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_LOADLISTADMIN_FORMADMINISTRATOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_LOADLISTADMIN_FORMADMINISTRATOR'
GO
USE [master]
GO
